<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <ul> 
        <p>Esta es una ficticia lista de mis familiares:</p>
        {% for familiar in lista_familiares %}
            <li>Nombre: {{familiar.nombre}} - DNI: {{familiar.dni}} - Fecha De Nacimiento: {{familiar.fecha_nacimiento}}</li>
        {% endfor %}
    </ul>
</body>
</html>